/CompetitionTest.class
/CountryTest.class
/MatchTest.class
/PlayerTest.class
/SeasonTest.class
/TeamTest.class
/CupTest.class
/LeagueTest.class
/CupMatchTest.class
/LeagueMatchTest.class
/LeagueMatch.class
/CupMatch.class
